[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "config/nvim/bundle/vim-pathogen"]
	path = config/nvim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen
[submodule "config/nvim/bundle/neovim-colors-solarized-truecolor-only"]
	path = config/nvim/bundle/solarized
	url = git://github.com/frankier/neovim-colors-solarized-truecolor-only
[submodule "config/nvim/bundle/fzf.vim"]
	path = config/nvim/bundle/fzf.vim
	url = git://github.com/junegunn/fzf.vim
[submodule "config/nvim/bundle/rust.vim"]
	path = config/nvim/bundle/rust.vim
	url = git://github.com/rust-lang/rust.vim
[submodule "config/nvim/bundle/syntastic"]
	path = config/nvim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "config/nvim/bundle/vim-jsx"]
	path = config/nvim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "config/nvim/bundle/vim-javascript"]
	path = config/nvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
